@import url('https://fonts.googleapis.com/css2?family=Poor+Story&family=Roboto:wght@700&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container {
    padding: 10px;
}

body {
    background-color: black;
    color: white;
}

.left {
    width: 25vw;

}


.home ul li {
    display: flex;
    align-items: center;
    gap: 15px;
    list-style: none;
    padding-top: 14px;
    font-weight: bold;
}
.home .logo{
    display: flex;
    justify-content: space-between;
}
.home ul li img {
    width: 25px;
}

.home {
    height: 130px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.library {
    /* min-height: 80vh; */
    min-height: calc(99.5vh - 130px);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.heading {
    display: flex;
    align-items: center;
    gap: 15px;
    font-weight: bold;
    padding: 23px 14px;
    font-size: 13px;

}

.heading img {
    width: 25px;
}
.songList{
    /* box-shadow: inset 0 6px 10px rgba(255, 255, 255, 0.732); */
}
.songList ul{
    padding: 0px 25px;
    overflow-y: scroll;
    max-height: calc(((99.5vh - 130px)*70/100) - 20px);
    /* max-height: calc(((99.5vh - 130px)*70/100) ); */

}

.songList ul li{
    list-style-type: decimal;
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 2px 20px;
    cursor: pointer;
    padding: 12px 12px;
    transition: background-color 0.3s ease 0s;
    border-radius: 7px;
}
.songList ul li a{
    display: none;
}
.songList ul li:hover{
    background-color:#272727;
    

}
.songList .sname{
    font-size: 14px;
    font-weight: 400;
    white-space: nowrap; /* Prevent text from wrapping to the next line */
    overflow: hidden; /* Hide overflow content */
    text-overflow: ellipsis;
    /* animation: moveText 5s linear infinite; */
}

.songList .artist{
    font-size: 11px;
    font-weight:200;
}

.songList ul li img:first-child{
    align-self: center;
    width: 100%;
    grid-row: 1/3;
    grid-column: 1/2;
    
}
.songList ul li .hplay{
    align-self: center;
    width: 100%;
    grid-row: 1/3;
    grid-column: 1/2;
    display: none;
    transition: all 3s ease;
    
}

.songList ul li .alplay{
    align-self: center;
    width: 100%;
    grid-row: 1/3;
    grid-column: 3/4;
    
}

.footer {

    display: flex;
    flex-wrap: wrap;
    font-size: 10px;
    color: grey;
    gap: 13px;
    padding-bottom: 10px;
    font-size: 11px;
}

.footer a {
    color: grey;

}

.right {
    width: 75vw;
}

.rightmost {
    min-height: 100vh;
    position: relative;


}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav{
    display: flex;
}

.buttons{
    gap: 30px;
    display: flex;
    font-weight: 700;
    font-size: 18px;
    border: none;
    outline: none;
    cursor: pointer;
}

.header>* {
    padding: 20px;

}

.hamburger{
    display: none;
    padding-right:15px;
}
.loginbtn {
    font-weight: 700;
    font-size: 18px;
    border: none;
    outline: none;
    color: gray;
    cursor: pointer;
}


.loginbtn:hover {   
    color: rgb(255, 255, 255);
    transform: scale(1.1);
}

.Signupbtn {
    cursor: pointer;
    font-size: 18px;
    border: none;
    outline: none;
    color: black;
    background-color: white;
    padding: 10px 20px;
    border-radius: 50px;
}

.Signupbtn:hover{
 
    font-weight: 700;
    transform: scale(1.1); 
    
}


.spotifyPlaylists {
    padding: 16px;
    
}

.cardContainer {
    overflow-y: scroll;
    max-height: 70vh;
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
    margin: 30px;


}

.spotifyPlaylists .card {
    width: 200px;
    padding: 15px;
    border-radius: 5px;
    background-color: #181818;
    position: relative;
    transition: background-color .3s ease;

}

.card>* {
    padding-top: 10px;

}

.spotifyPlaylists .card img {
    width: 100%;
    padding-top: 0px;

}

.play {
    width: 50px;
    height: 50px;
    background-color: #1FDF64;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 3px;
    padding-bottom: 10px;
    position: absolute;
    right: 17px;
    top: 150px;
    opacity: 0;
    transition: opacity 0.4s ease-out, top 0.4s ease-out;


}

.playbar{
    position: absolute;
    bottom:0px ;
    left: 0px;
    background-color: #595454;
    width: 100%;
    padding: 12px 32px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* justify-content: center;
    align-items:center ; */
    gap: 20px;
    border-radius: 0 0 7px 7px;
    align-items: center;
}
.playbar .songbuttons{
    display: flex;
    gap: 20px;
    justify-self: center;
    align-self: center;
}

.playbar  .songinfo{
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
}
.playbar  .songtime{
    justify-self: end;
}

.playbar .songbuttons img{
    cursor: pointer;
}
.seekbar{
    cursor: pointer;
    height: 4px;
    width: 100%;
    border: 1px solid red;
    background: white;
    position: absolute;
    top: -3px;
    
}
.seekbar .circle{
    width: 100%;
    background-color: red;
    height:2px ;
    transition: width 0.5s;
}

@keyframes moveText {
    0% {
      transform: translateX(0); /* Start from initial position */
    }

    100% {
      transform: translateX(100%); /* Move the text to the left (negative value for continuous movement) */
    }
  }

  @media screen and (max-width: 1400px) {
    .left{
        background-color: red;
        position: absolute;
        left: -100%;
        transition: all .7s ease;
        z-index: 1;
        width: 300px;
        margin: 0px !important;
        height: 100vh;
        
    }
    .home{
        padding: 20px !important;
        height: auto;
    }
    .library{
        min-height: calc(100% - 140.8px);
    }
    .heading {
        padding: 15px 14px;
    
    }
    .songList ul{
        padding: 0px 10px;
        overflow-y: scroll;
        /* max-height: calc(((100% - 140px)*0.6)); */
        max-height: 300px
        /* max-height: calc(((99.5vh - 130px)*70/100) ); */
    
    }
    .right{
        width: 100% ;
    }
    .container{
        padding: 0px;
    }
    .rightmost{
        margin: 0px !important;
        
    }
    .playbar{
        border-radius: 0px;
    }
    .cardContainer{
        justify-content: center;
    }
    .hamburger{
        display: block;
    }
    
  }